<!-- Navigation -->
<nav class="navigation">
  <div class="logo">
    <a class="navbar-brand" href="#"><%= image_tag '찜_로고.png', class: 'main-logo-image img-fluid', width: '80px'%></a>
  </div>
  <div class="page-header">
    <div class="page-one">
      <div class="page-info">
        <p>날짜 / 학교 건물 선택</p>
      </div>
      <div class="page-location">
        <p>pbl예약하기 > 날짜 / 학교 건물</p>
      </div>
    </div>
    <div class="page-two">
      <div class="student-school">
        <p><%=@user_school%></p>
      </div>
      <div class="student-name">
        <p><%=@username%></p>
      </div>
      <div class="logout-btn">
        <%= link_to '로그아웃', destroy_user_session_path, :method => :delete %>
      </div>
    </div>
  </div>
</nav>
<!-- Main Content -->
<div class="main">
  <div class="side-bar"> 
    <div class="side-menu-header">
      <%= image_tag '_예약하기.png', class: 'list-logo'%>
    </div>
    <div class="side-menu-list">
      <ul>
        <li>1. 날짜 / 라운지</li>
        <li>2. 방 / 시간</li>
        <li>3. 이용자 추가</li>
      </ul>
    </div>
    <div class="side-menu-header">
      <%= image_tag '_예약리스트.png', class: 'list-logo'%>
    </div>
    <!-- <div class="side-menu-list">
      <ul>
        <li>최근 이용 목록</li>
        <li>내가 한 예약리스트</li>
      </ul>
    </div> -->
    <div class="side-menu-header">
      <%= image_tag '_내정보.png', class: 'list-logo'%>
    </div>
    <!-- <div class="side-menu-list">
      <ul>
        <li>내 정보</li>
        <li>건의사항</li>
        <li>신고 / 패널티</li>
      </ul>
    </div> -->
  </div>
  <div class="main-content">
    <div class="date">
      <p>날짜</p>
      <hr>
      <p class="cautious">* 이용하실 날짜를 선택해주세요.</p>
      <!-- <form class="form-inline" action="#">
        <input class="form-control" type="date" name="date">
        <input class="form-control submit-btn" type="submit" value="확인">
      </form> -->
      <%= Date.today %>
    </div>
    <div class="building">
      <p>학교 건물</p>
      <hr>
      <p class="cautious">* 이용하실 단과대 라운지를 선택해주세요.</p>
      <div class="school-picker">
        <div class="lounge-row">
          <div class="lounge-box-1" onclick="location.href='/time_room/<%=@locations[0].id%>'">
            <div class="content">
              <p><%=@locations[0].location_name%></p>
            </div>
          </div>
          <div class="lounge-box-2" onclick="location.href='/time_room/<%=@locations[1].id%>'">
            <div class="content">
              <p><%=@locations[1].location_name%></p>
            </div>
          </div>
          <div class="lounge-box-3" onclick="location.href='/time_room/<%=@locations[2].id%>'">
            <div class="content">
              <p><%=@locations[2].location_name%></p>
            </div>
          </div>
        </div>
        <div class="lounge-row">
          <div class="lounge-box-4" onclick="location.href='/time_room/<%=@locations[3].id%>'">
            <div class="content">
              <p><%=@locations[3].location_name%></p>
            </div>
          </div>
          <div class="lounge-box-5" onclick="location.href='/time_room/<%=@locations[4].id%>'">
            <div class="content">
              <p><%=@locations[4].location_name%></p>
            </div>
          </div>
          <div class="lounge-box-6" onclick="location.href='/time_room/<%=@locations[5].id%>'">
            <div class="content">
              <p><%=@locations[5].location_name%></p>
            </div>
          </div>
        </div>
        <div class="lounge-row">
          <div class="lounge-box-7">
          </div>
          <div class="lounge-box-8">

          </div>
          <div class="lounge-box-9">

          </div>
        </div>
        <div class="lounge-row">
          <div class="lounge-box-10">

          </div>
          <div class="lounge-box-11">

          </div>
          <div class="lounge-box-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
